<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            SIGMA ELETRONICOS
        </div>
    </header>
    <main>
        <div class="container">
            <h1>Converting Video: {{ filename }}</h1>
            <form method="post">
                <label for="interval">Screenshot Interval (seconds):</label>
                <input type="number" name="interval" id="interval" required>
                <button type="submit">Convert</button>
            </form>
        </div>
    </main>
</body>
</html>
